/*

  Custom SCSS for the project

*/

// Required for dark/light mode and Chroma code block hightlighting
@import "td/code-dark";

dl {
    max-width: 65%;
}

dt {
    font-weight: bold;
    color: var(--bs-primary);
}

dd {
    margin-left: 2em;
    border-left: 1px solid $info;
    padding: 2px 1em;
}

.title-block {
    dl {
        display: grid;
        grid-template-columns: min-content auto;
        border: solid var(--bs-secondary-border-subtle);
        border-width: 3px;
        padding: 0;
        margin: 0;
        width: 50%;
    }

    dt {
        padding: 2px 4px;
        text-align: center;
        color: var(--bs-secondary);
        font-weight: bold;
        margin: 0;
        padding: 5px;
        white-space: nowrap;
    }

    dt:not(:last-of-type) {
        border-bottom: 2px dotted var(--bs-secondary-border-subtle);
    }

    dd {
        margin: 0;
        padding: 2px 4px;
        padding: 5px;
    }

    dd:not(:last-of-type) {
        border-bottom: 2px dotted var(--bs-secondary-border-subtle);
    }
}

.markdown-inner {
    // Util class to remove extra margin in nested markdown content
    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.markdown {
    .book-columns {
        margin-left: -$padding-16;
        margin-right: -$padding-16;

        > div {
            margin: $padding-16 0;
            min-width: $body-min-width / 2;
            padding: 0 $padding-16;
        }
    }
}

// ==== UTILS ====
.flex {
    display: flex;
    gap: 20px;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-even {
    flex: 1 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.mx-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.hidden {
    display: none;
}

input.toggle {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@mixin spin($duration) {
    animation: spin $duration ease infinite;
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

@mixin outline {
    outline-style: auto;
    outline-color: currentColor;
    outline-color: -webkit-focus-ring-color;
}

// Artifacthub widgets
.arti-hub-container {
    width: 80%;
    margin: 2rem auto;
}
.arti-hub-grid {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
