/*

Add styles or override variables from the theme here.

*/

// Default: Open Sans (Open+Sans)
// Candidates: Montserrat, Raleway, Inter, Noto Sans, Poppins
// Dismissed: Roboto
$google_font_name: "Montserrat";
$google_font_family: "Montserrat:300,300i,400,400i,700,700i";

//$white: #ffffff; // default
//$white: #f0f0f0;
//$white: #f4f3f2;
// white == HSL(<PRIMARY>, 99%, 99%)
$white: hsl(190, 99%, 99%);

// $dark:      #021629;
// $info:      #b86b78;
// $light:     #d8dbe5;
// $primary:   #1a3f75;
// $secondary: #d44417;
// $success:   #0f9d5a;
// $warning:   #e1c910;

// $danger:    #ef0c1c;
// $dark:      #0b0f12;
// $info:      #49768f;
// $light:     #ddd9e5;
// $primary:   #2f3c44;
// $secondary: #6e8d28;
// $success:   #199b53;
// $warning:   #e4c71b;

// Brown:
// $danger:    #e9115b;
// $dark:      #111312;
// $info:      #546a64;
// $light:     #d6d7d8;
// $primary:   #3f3426;
// $secondary: #d92b32;
// $success:   #48951d;
// $warning:   #febb22;

// Sierra:
//$danger: #f71869;
//$dark: #40536d;
//$info: #8dbcbb;
//$light: #d7dde4;
//$primary: #ce6c56;
//$secondary: #3b8b7b;
//$success: #6bb62d;
//$warning: #fdc680;

$danger: #fe1d23;
$dark: #2d2f33;
$info: #c8d3ea;
$light: #dfe3da;
$primary: #1874a0;
$secondary: #2ab58a;
$success: #13c36a;
$warning: #efd20f;

// CUSTOM
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;
$body-min-width: 20rem !default;
