<div class="alert alert-danger border rounded border-danger" role="alert">
  <h5 class="alert-heading border-bottom border-danger">
    <i class="fa-solid fa-bolt">&nbsp;</i>
    Caution
  </h5>
  {{ trim .Inner " \n" | markdownify }}
</div>
