<div class="alert alert-secondary border border-secondary rounded" role="alert">
  <h5 class="alert-heading border-bottom border-secondary">
    <i class="fa-solid fa-flask">&nbsp;</i>Example
  </h5>
  {{ trim .Inner " \n" | markdownify }}
</div>
