<div class="alert alert-info border border-info rounded" role="alert">
  <h5 class="alert-heading border-bottom border-info">
    <i class="fa-solid fa-circle-info">&nbsp;</i>Info
  </h5>
  {{ trim .Inner " \n" | markdownify }}
</div>
