{{ $maxheight := "250px" -}}
{{ with .Get "max-height" -}}
  {{ $maxheight = . }}
{{ end -}}


<div style="overflow-y: auto">
  <div style="max-height: {{ $maxheight }}">
    {{ .Inner | .Page.RenderString }}
  </div>
</div>
