{{ $maxwidth := "1280px" -}}
{{ with .Get "max-width" -}}
  {{ $maxwidth = . }}
{{ end -}}


<div style="overflow-x: auto">
  <div style="width: {{ $maxwidth }}">{{ .Inner | .Page.RenderString }}</div>
</div>
