<div class="alert alert-success border border-success rounded" role="alert">
  <h5 class="alert-heading border-bottom border-success">
    <i class="fa-solid fa-check">&nbsp;</i>Success
  </h5>
  {{ trim .Inner " \n" | markdownify }}
</div>
