<div class="alert alert-warning border border-warning rounded" role="alert">
  <h5 class="alert-heading border-bottom border-warning">
    <i class="fa-solid fa-triangle-exclamation">&nbsp;</i>
    Warning
  </h5>
  {{ trim .Inner " \n" | markdownify }}
</div>
